<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口，自动扫描-->
<mapper namespace="com.example.spring_client.dao_mapper.UserTaskMapper" >
    <!--parameterType与resultType区别
parameterType完成输入映射，就是调用命令的意思，可能改变数据库数据
resultType完成输出映射，就是返回结果的意思，不对数据库发生改变
-->
    <!--结果集映射-->
    <!-- column是数据库中表的列名  property是对应实体类的属性名 -->


    <!--增加-->
    <insert id="userTaskAdd" parameterType="UserTask">
        insert into spring.usertask(user,publisher,usertaskProgressId,publishertaskProgressId,visible,time,forumid)
        values (#{user},#{publisher},#{usertaskProgressId},#{publishertaskProgressId},#{visible},#{time},#{forumid});
    </insert>

    <!--删除-->
    <delete id="userTaskDelete" parameterType="int">
        delete from spring.usertask where taskId = #{taskId}
    </delete>

    <!--删除-->
    <delete id="userTaskforumidDelete" parameterType="String">
        delete from spring.usertask where forumid = #{forumid}
    </delete>

    <!--修改-->
    <update id="userTaskUpdate" parameterType="UserTask">
        update spring.usertask
        set user=#{user},usertaskProgressId=#{usertaskProgressId},
            publishertaskProgressId=#{publishertaskProgressId},visible=#{visible},time=#{time}
        where forumid=#{forumid}
    </update>

    <!--查询全部-->
    <select id="userTaskQueAll" resultType="UserTask">
        select * from spring.usertask
    </select>

    <!--    mybatis分页插件使用-->
    <select id="userTaskQueAllo" resultMap="mapResult">
        select
        <include refid="Base_Column_List"/>
        from spring.usertask
--         order by taskId desc
    </select>
    <sql id="Base_Column_List">
        taskId,user,publisher,usertaskProgressId,publishertaskProgressId,visible,time,forumid
    </sql>
    <resultMap id="mapResult" type="UserTask">
        <result column="taskId" property="taskId"></result>
        <result column="user" property="user"></result>
        <result column="publisher" property="publisher"></result>
        <result column="usertaskProgressId" property="usertaskProgressId"></result>
        <result column="publishertaskProgressId" property="publishertaskProgressId"></result>
        <result column="visible" property="visible"></result>
        <result column="time" property="time"></result>
        <result column="forumid" property="forumid"></result>
    </resultMap>
<!--
    造成的原因是<resultMap>标签中,需要按照
    <id>
    <result>
    <association>
    <collection>
    顺序来排列-->
<!--    select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,
    f.workingTwoHours,f.address,f.phoneNumber,f.taskid,
    ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,
    case ut.visible
    &#45;&#45;                    发布者不是你，没有人领取
    when ut.publisher!=#{user} and ut.user='' then '发布中'
    &#45;&#45;              发布者是你，但是没有人领取
    when f.publisher=ut.publisher and ut.user='' then '我发布的'
    &#45;&#45; 			 发布者不是你，领取者也不是你
    when ut.publisher!=#{user} and ut.user!=#{user} then '被领取'
    &#45;&#45; 			 发布者是你，领取人不是你
    when ut.publisher=#{user} and ut.user!=#{user} then '已领取'
    &#45;&#45; 			 发布者不是我，领取人是我
    when ut.publisher!=#{user} and ut.user!=#{user} then '执行中'
    &#45;&#45;              某个值等于005，说明领取人完成了
    when ut.usertaskProgressId='005' then '已完成'
    &#45;&#45;              某个值等于005，说明发布人可以删除完成的任务
    when ut.publishertaskProgressId='005' then '删除任务'
    else '异常状态'
    end as 'visible',
    ut.time,ut.forumid,t.taskProgress
    from usertask ut,task t,forum f
    where ut.forumid=f.taskid
    and ut.usertaskProgressId=t.taskProgressId
    order by ut.time desc-->

    <!--    三表联查-全部-总任务-->
    <select id="userTaskForum" parameterType="String" resultMap="usertaskAll">

        select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,
               f.workingTwoHours,f.address,f.phoneNumber,f.taskid,
               ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,
               ut.visible,ut.time,ut.forumid,
               t.taskProgress
        from usertask ut,task t,forum f
        where ut.forumid=f.taskid
          and ut.usertaskProgressId=t.taskProgressId
          and ut.usertaskProgressId='001'
          and ut.publishertaskProgressId='001'
        order by ut.time desc
    </select>
    <resultMap id="usertaskAll" type="Forum">
        <!--property表示com.domain.Student的字段,coloum为表中的字段，进行配置映射-->
        <result column="id" property="id"></result>
        <result column="publisher" property="publisher"></result>
        <result column="time" property="time"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="salary" property="salary"></result>
        <result column="workingOneHours" property="workingOneHours"></result>
        <result column="workingTwoHours" property="workingTwoHours"></result>
        <result column="address" property="address"></result>
        <result column="phoneNumber" property="phoneNumber"></result>
        <association property="Task" javaType="Task">
            <result column="taskProgressId" property="taskProgressId"></result>
            <result column="taskProgress" property="taskProgress"></result>
        </association>
        <association property="userTaskone" javaType="UserTask">
            <result column="taskId" property="taskId"></result>
            <result column="user" property="user"></result>
            <result column="publisher" property="publisher"></result>
            <result column="usertaskProgressId" property="usertaskProgressId"></result>
            <result column="publishertaskProgressId" property="publishertaskProgressId"></result>
            <result column="visible" property="visible"></result>
            <result column="time" property="time"></result>
            <result column="forumid" property="forumid"></result>
        </association>
    </resultMap>

    <!--    我的任务，一对多-->
    <!--    三表联查-全部-->
    <select id="myUserTaskForum" parameterType="String" resultMap="usertaskuone">
        select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,
               f.workingTwoHours,f.address,f.phoneNumber,f.taskid,
               ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,
               ut.visible,ut.time,ut.forumid,
               t.taskProgress
        from usertask ut,task t,forum f
        where ut.forumid=f.taskid
          and ut.usertaskProgressId=t.taskProgressId
          and ut.user=#{user}
        order by ut.time desc
    </select>
    <resultMap id="usertaskuone" type="Forum">
        <!--property表示com.domain.Student的字段,coloum为表中的字段，进行配置映射-->
        <result column="id" property="id"></result>
        <result column="publisher" property="publisher"></result>
        <result column="time" property="time"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="salary" property="salary"></result>
        <result column="workingOneHours" property="workingOneHours"></result>
        <result column="workingTwoHours" property="workingTwoHours"></result>
        <result column="address" property="address"></result>
        <result column="phoneNumber" property="phoneNumber"></result>
        <association property="Task" javaType="Task">
            <result column="taskProgressId" property="taskProgressId"></result>
            <result column="taskProgress" property="taskProgress"></result>
        </association>
        <association property="userTaskone" javaType="UserTask">
            <result column="taskId" property="taskId"></result>
            <result column="user" property="user"></result>
            <result column="publisher" property="publisher"></result>
            <result column="usertaskProgressId" property="usertaskProgressId"></result>
            <result column="publishertaskProgressId" property="publishertaskProgressId"></result>
            <result column="visible" property="visible"></result>
            <result column="time" property="time"></result>
            <result column="forumid" property="forumid"></result>
        </association>
    </resultMap>


    <!--    我发布的任务,一对多-->
    <!--    三表联查-全部-->
    <select id="pulisherUserTaskForum" parameterType="String" resultMap="usertaskpone">
        select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,
               f.workingTwoHours,f.address,f.phoneNumber,f.taskid,
               ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,
               ut.visible,ut.time,ut.forumid,
               t.taskProgress
        from usertask ut,task t,forum f
        where ut.forumid=f.taskid
          and ut.usertaskProgressId=t.taskProgressId
          and ut.publisher=#{user}
        order by ut.time desc
    </select>
    <resultMap id="usertaskpone" type="Forum">
        <!--property表示com.domain.Student的字段,coloum为表中的字段，进行配置映射-->
        <result column="id" property="id"></result>
        <result column="publisher" property="publisher"></result>
        <result column="time" property="time"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="salary" property="salary"></result>
        <result column="workingOneHours" property="workingOneHours"></result>
        <result column="workingTwoHours" property="workingTwoHours"></result>
        <result column="address" property="address"></result>
        <result column="phoneNumber" property="phoneNumber"></result>
        <association property="Task" javaType="Task">
            <result column="taskProgressId" property="taskProgressId"></result>
            <result column="taskProgress" property="taskProgress"></result>
        </association>
        <association property="userTaskone" javaType="UserTask">
            <result column="taskId" property="taskId"></result>
            <result column="user" property="user"></result>
            <result column="publisher" property="publisher"></result>
            <result column="usertaskProgressId" property="usertaskProgressId"></result>
            <result column="publishertaskProgressId" property="publishertaskProgressId"></result>
            <result column="visible" property="visible"></result>
            <result column="time" property="time"></result>
            <result column="forumid" property="forumid"></result>
        </association>
    </resultMap>


<!--&lt;!&ndash;    我的任务，一对多&ndash;&gt;-->
<!--    &lt;!&ndash;    三表联查-全部&ndash;&gt;-->
<!--    <select id="myUserTaskForum" parameterType="String" resultMap="usertaskuone">-->
<!--        select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,-->
<!--               f.workingTwoHours,f.address,f.phoneNumber,f.taskid,-->
<!--               ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,-->
<!--               ut.visible,ut.time,ut.forumid,-->
<!--               t.taskProgress-->
<!--        from usertask ut,task t,forum f-->
<!--        where ut.forumid=f.taskid-->
<!--          and ut.usertaskProgressId=t.taskProgressId-->
<!--          and ut.user=#{user}-->
<!--        order by ut.time desc-->
<!--    </select>-->
<!--    <resultMap id="usertaskuone" type="Forum">-->
<!--        &lt;!&ndash;property表示com.domain.Student的字段,coloum为表中的字段，进行配置映射&ndash;&gt;-->
<!--        <result column="id" property="id"></result>-->
<!--        <result column="publisher" property="publisher"></result>-->
<!--        <result column="time" property="time"></result>-->
<!--        <result column="title" property="title"></result>-->
<!--        <result column="content" property="content"></result>-->
<!--        <result column="salary" property="salary"></result>-->
<!--        <result column="workingOneHours" property="workingOneHours"></result>-->
<!--        <result column="workingTwoHours" property="workingTwoHours"></result>-->
<!--        <result column="address" property="address"></result>-->
<!--        <result column="phoneNumber" property="phoneNumber"></result>-->
<!--        <association property="Task" javaType="Task">-->
<!--            <result column="taskProgressId" property="taskProgressId"></result>-->
<!--            <result column="taskProgress" property="taskProgress"></result>-->
<!--        </association>-->
<!--        <collection property="userTask" ofType="UserTask">-->
<!--            <result column="taskId" property="taskId"></result>-->
<!--            <result column="user" property="user"></result>-->
<!--            <result column="publisher" property="publisher"></result>-->
<!--            <result column="usertaskProgressId" property="usertaskProgressId"></result>-->
<!--            <result column="publishertaskProgressId" property="publishertaskProgressId"></result>-->
<!--            <result column="visible" property="visible"></result>-->
<!--            <result column="time" property="time"></result>-->
<!--            <result column="forumid" property="forumid"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->


<!--    &lt;!&ndash;    我发布的任务,一对多&ndash;&gt;-->
<!--    &lt;!&ndash;    三表联查-全部&ndash;&gt;-->
<!--    <select id="pulisherUserTaskForum" parameterType="String" resultMap="usertaskpone">-->
<!--        select f.id,f.publisher,f.time,f.title,f.content,f.salary,f.workingOneHours,-->
<!--               f.workingTwoHours,f.address,f.phoneNumber,f.taskid,-->
<!--               ut.taskId,ut.user,ut.publisher,ut.usertaskProgressId,ut.publishertaskProgressId,-->
<!--               ut.visible,ut.time,ut.forumid,-->
<!--               t.taskProgress-->
<!--        from usertask ut,task t,forum f-->
<!--        where ut.forumid=f.taskid-->
<!--          and ut.usertaskProgressId=t.taskProgressId-->
<!--          and ut.publisher=#{user}-->
<!--        order by ut.time desc-->
<!--    </select>-->
<!--    <resultMap id="usertaskpone" type="Forum">-->
<!--        &lt;!&ndash;property表示com.domain.Student的字段,coloum为表中的字段，进行配置映射&ndash;&gt;-->
<!--        <result column="id" property="id"></result>-->
<!--        <result column="publisher" property="publisher"></result>-->
<!--        <result column="time" property="time"></result>-->
<!--        <result column="title" property="title"></result>-->
<!--        <result column="content" property="content"></result>-->
<!--        <result column="salary" property="salary"></result>-->
<!--        <result column="workingOneHours" property="workingOneHours"></result>-->
<!--        <result column="workingTwoHours" property="workingTwoHours"></result>-->
<!--        <result column="address" property="address"></result>-->
<!--        <result column="phoneNumber" property="phoneNumber"></result>-->
<!--        <association property="Task" javaType="Task">-->
<!--            <result column="taskProgressId" property="taskProgressId"></result>-->
<!--            <result column="taskProgress" property="taskProgress"></result>-->
<!--        </association>-->
<!--        <collection property="userTask" ofType="UserTask">-->
<!--            <result column="taskId" property="taskId"></result>-->
<!--            <result column="user" property="user"></result>-->
<!--            <result column="publisher" property="publisher"></result>-->
<!--            <result column="usertaskProgressId" property="usertaskProgressId"></result>-->
<!--            <result column="publishertaskProgressId" property="publishertaskProgressId"></result>-->
<!--            <result column="visible" property="visible"></result>-->
<!--            <result column="time" property="time"></result>-->
<!--            <result column="forumid" property="forumid"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->


</mapper>
