<!DOCTYPE html>
<!--引入命名空间-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    下面是优秀的分页设计
    <!--<div style="text-align: center;font-size: 15px;" id="p">
        <a href="/showAllCustomer?page=1">首页</a>
        <c:choose>
            <c:when test="${page.currentPage > 1 }">
                <a href="/showAllCustomer?page=${page.currentPage-1 }">上一页</a>
            </c:when>
            <c:otherwise>
                <a href="#">上一页</a>
            </c:otherwise>
        </c:choose>
        <c:forEach var="p" begin="1" end="${page.pages }">
            <c:choose>
                <c:when test="${page.currentPage==p}">
                    <a href="/showAllCustomer?page=${p}" style="text-decoration: underline">${p}</a>
                </c:when>
                <c:otherwise>
                    <a href="/showAllCustomer?page=${p}">${p}</a>
                </c:otherwise>
            </c:choose>
        </c:forEach>
        <c:choose>
            <c:when test="${page.currentPage < page.total }">
                <a href="/showAllCustomer?page=${page.currentPage+1 }">下一页</a>
            </c:when>
            <c:otherwise>
                <a href="#">下一页</a>
            </c:otherwise>
        </c:choose>
        <a href="/showAllCustomer?page=${page.pages}">末页</a>
    </div>
    ————————————————
    版权声明：本文为CSDN博主「朱同学」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
    原文链接：https://blog.csdn.net/a755199443/article/details/94554320-->



</body>
</html>